.checkbox-box {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #99969e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-box__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-box:hover input ~ .checkbox-box__checkmark {
  background-color: #f3f3f5;
}

/* When the checkbox is checked, add an orange background */
.checkbox-box input:checked ~ .checkbox-box__checkmark {
  background-color: #fd7918;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-box__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-box input:checked ~ .checkbox-box__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-box .checkbox-box__checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
