@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap");

@import "cssReset.scss";

@import "switch.scss";

body {
  background: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 30px;
}

.form {
  background: #ffffff;
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;
  padding: 32px;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.label {
  display: grid;
  grid-template-columns: 100%;
  gap: 4px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 24px;
  color: #130f1c;
}

.input {
  background-color: #fafafa;
  width: 100%;
  display: inline-block;
  padding: 12px 14px 12px 12px;
  border-radius: 5px;
  border: none;
}

::placeholder {
  color: #bab9bd;
}
