@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap");

@import "cssReset.scss", "switch.scss", "buttons.scss", "checkbox.scss";

body {
  background: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 30px;
}

.form {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 100%;
  min-width: 345px;
  gap: 32px;
  padding: 32px;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form--compact {
  padding: 16px;
}

.form--medium {
  padding: 32px 16px;
}

.form--info {
  grid-template-columns: 185px 2fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
}

.form--info__sidebar {
  background: #651fff;
  margin: -32px 0 -32px -32px;
  border-radius: 10px 0 0 10px;
  padding: 46px 16px;
  grid-column: 1;
  grid-row: 1 / 5;
}

.form__box {
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;
  width: 100%;
}

.form__box--compact {
  gap: 0;
}

.form__box--small-gap {
  gap: 8px;
}

.form__box--large-gap {
  gap: 32px;
  align-items: center;
}

.form__box--two-col {
  grid-template-columns: 1fr 1fr;
}

.form__box--three-col {
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  justify-items: center;
}

.form__info:nth-child(2) {
  justify-self: flex-end;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form__row--small {
  grid-template-columns: 20px 1fr;
  gap: 8px;
}

.form__col {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 32px;
  align-items: center;
}

.form__col--compact {
  gap: 0;
}

.form__col--left-align {
  align-items: flex-start;
}

.form__text {
  color: #5a5761;
}

.form__text--compact {
  font-size: 14px;
  line-height: 20px;
}

.form__text--centered {
  text-align: center;
}

.form__text--white {
  color: #ffffff;
}

.form__text--dark {
  color: #130f1c;
}

.form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #130f1c;
  justify-self: flex-start;
}

.form__title--medium {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.form__title--small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form__title--white {
  color: #ffffff;
}

.form__line {
  display: block;
  height: 2px;
  width: 100%;
  border: none;
  border-radius: 10px;
  border-top: 2px solid #ececee;
  margin: 0;
}

.form__link {
  text-decoration-line: underline;
  color: #651fff;
}

.form__link:hover {
  color: #fd7918;
}

.label {
  display: grid;
  grid-template-columns: 100%;
  gap: 4px;
  color: #130f1c;
}

.label--textarea {
  font-size: 12px;
  line-height: 16px;
}

.input {
  background-color: #fafafa;
  width: 100%;
  display: inline-block;
  padding: 12px 14px 12px 12px;
  border-radius: 5px;
  border: none;
}

.textarea {
  background-color: #f3f3f5;
  width: 100%;
  display: inline-block;
  padding: 8px 14px 8px 12px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  resize: block;
}

::placeholder {
  color: #bab9bd;
}
