@import "cssReset.scss";

body {
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 30px;
}

.form {
  display: flex;
  flex-flow: column;
  padding: 32px;
  border: 1px solid black;
}

.line {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 875px;
}
