@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap");

@import "cssReset.scss", "layout.scss", "text.scss", "switch.scss",
  "buttons.scss", "checkbox.scss", "label&input.scss", "media-queries.scss";

body {
  background: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
